/* styles.css */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow-x: hidden; 
}

header {
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%; 
}

nav ul li {
    margin: 0 15px;
    display: flex;
    align-items: center;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}

nav ul li a .material-symbols-outlined,
nav ul li a .fab {
    margin-right: 8px;
    vertical-align: middle;
}

main {
    padding: 2em;
    background-color: white;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
    width: 100%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    width: 100%; 
    height: 40px;
    position: relative;
    bottom: 0;
}

#title {
    text-decoration: none;
    color: black;
}

#titles-inicial {
    color: black;
    transition: color 0.3s ease;
}

#titles-inicial:hover {
    color: #ccc;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

#title_tabela {
    text-align: center;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    cursor: pointer;
    background-color: #f2f2f2;
    text-align: center;
}

th:hover {
    background-color: #333;
    color: white;
    transition: color 0.9s ease;
}

.hidden {
    display: none;
}

.active {
    background-color: #333;
    color: white;
}

#div_tabela {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px;
}

#footer {
    height: 80px;
    background-color: #333;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    border-top: 2px solid #555;
}

#footer p {
    margin: 0;
}


#main-sobre {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5.3%;
    padding: 20px;
    gap: 20px; 
    
}

#main-sobre > div {
    background-color: rgb(241, 241, 241);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    flex: 1; 
}



@media (max-width: 768px) {
    nav ul {
        justify-content: space-around; 
    }

    nav ul li {
        margin: 5px; 
    }

    main {
        padding: 1em;
        max-width: 100%;
    }

    #div_tabela {
        width: 100%;
        padding: 10px;
        margin-bottom: 60px;
    }

    footer {
        position: relative;
        margin-top: 20px;
    }

    #footer {
        height: 100%;
        padding: 10px;
        font-size: 14px;
    }
}
